@font-face {
    font-family: 'Caveat';
    src: url('./resources/Caveat-VariableFont_wght.ttf')
    format('truetype'),
    url('./resources/static/Caveat-SemiBold.ttf') format('truetype');
    
}

.photo-container {
    display: flex;
    align-items: center;
}
.my-photo {
    width: 200px; 
      height: 200px; 
      border-radius: 50%; 
      object-fit: cover;
      
                      
      margin-right: 20px;
    }
    .description {
        display: block;
    }
    body {
        /*background-color: #6b4646;*/
        background-color: #96921d;
    }
    
    p {
        overflow: hidden;
    }
    section {
        font-family: 'Caveat', monospace, serif;
        font-size: x-large;
    
    }